a.time-spent-button.button-gray.is-editable(
    href=""
    tg-check-permission="modify_issue"
    title="{{ 'COMMON.TIME_SPENT_NOTE' | translate }}"
)
    tg-svg(svg-icon="icon-clock")
fieldset.time-spent-input.hidden
    input(
        type="number"
        data-type="digits"
        name="time_spent_note"
        ng-attr-placeholder="{{'COMMON.TIME_SPENT_NOTE' | translate}}"
        ng-model="issue"
    )
